<head>
		    <!-- Style CSS -->
    <link rel="stylesheet" href="styles/main/main.css">

</head>
<body>
<!-- Header -->
	<div class="header-main" id="home">
	  <div class="header-top">
                <div class="head-section text-center">
					<h2>WELCOME TO FODDAI.COM</h2>
					<span> </span>
				</div>		
	  </div>
	</div>
<!-- Logo Header -->

  	    <div class="logo-header ">
  	    <br>
			<div class="col-md-offset-5 logo">
				<a href="#"><img src="styles/img/main/lg-valerio.png" class="img-responsive img-circle img-logo" alt="" /></a>
	
			</div>

		</div> 
 


</body>