/*--
Author: Valerio Foddai
Author URL: http://Foddai.com
--*/


/* Header */

.header-main {
	background: url(../img/main/london1.png) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 400px;
	text-align:center;
}
.header-top{
	padding-top: 4%;
}

.header-top h2 {
	font-size: 1.3em;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 700;
	margin: 9% 0px 0px 0px;
}
@media screen and (min-width: 250px) and (max-width: 350px) {
  .header-top h2 {
	 margin: 50% 0px 0px 0px;
   }
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  .header-top h2 {
	 margin: 31% 0px 0px 0px;
   }
}

.head-section span {
	margin-top: 10px;
    height: 2px;
    width: 10%;
    background: #E22E2E;
    display: inline-block;
}
/* Header LOGO */

.foddi-img {
 background: url(../img/main/circle-valerio.png) no-repeat center;
 text-align:center;
 height: 220px;
 border-radius: 50%;
}

.header-section {
  background: #e6e6e6;
  text-align: center;
}

}
.header-section h3 {
  font-family: 'Nunito-Bold';
  font-size: 4em;
  text-transform: capitalize;
  color: #393b3a;
  padding: 0.5em 0 0 0;
}
.header-section span {
  color: #ff0000;
  font-size: 1em;
}

span.glyphicon.glyphicon-triangle-bottom {
  font-size: 2em;
  color: #ff0000;
  padding: 0.5em 2em;
  border-radius: 5px 5px 0 0;
  }

  /*-- Buttons --*/

.shope a{
	color: #272727;
	font-weight: 700;
	border: 1px solid #E22E2E;
	text-transform: uppercase;
	padding: 1em 4em;
	font-family: 'Asap', sans-serif;
	display: inline-block;
	letter-spacing: 0.1em;
	text-decoration: none;
}
.shope a:hover{
	color:#E22E2E;
	border-color:black;
}

/*-- SERVICES --*/
.services {
  background: #262626;
  padding: 3em 0em;
  text-align: center;
}
.services h3 {
  font-size: 2.5em;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  border-bottom: 2px solid #F77268;
  width: 175px;
}
.services-top{
  margin:5em 0em;
}
.services h5 {
  font-size: 1.5em;
  font-weight: 400;
  color: #fff;
  text-transform:uppercase;
  text-align: center;
  margin:1.2em 0em;
}
.services p {
  font-size: 1.1em;
  font-weight: 400;
  color: #838383;
  text-align: left;
  margin:1em 0em;
}
.services-bottom {
  margin-top: 10px;
}
.icon-data2{
  float:left;
  width:70%;
}
.icon2{
    float:left;
  width:20%;
}
i.glob{
  width: 75px;
    height: 75px;
    background: url(../img/main/img-sprite.png)no-repeat -6px -351px ;
    display:inline-block;
    vertical-align: middle;
}
i.glob:hover{
  background: url(../img/main/img-sprite.png)no-repeat -6px -431px;
}
i.animate{
  width: 75px;
    height: 75px;
    background: url(../img/main/img-sprite.png)no-repeat -406px -351px;
    display:inline-block;
    vertical-align: middle;
}
i.animate:hover{
    background: url(../img/main/img-sprite.png)no-repeat -407px -431px;
}
i.respons{
  width: 75px;
    height: 75px;
    background: url(../img/main/img-sprite.png)no-repeat -86px -351px;
    display:inline-block;
    vertical-align: middle;
}
i.respons:hover{
  background: url(../img/main/img-sprite.png)no-repeat -86px -431px;
 }
i.graph{
  width: 75px;
    height: 75px;
    background: url(../img/main/img-sprite.png)no-repeat -164px -350px;
    display:inline-block;
    vertical-align: middle;
}
i.graph:hover{
  background: url(../img/main/img-sprite.png)no-repeat -164px -430px;
 }
i.illust{
  width: 75px;
    height: 75px;
    background: url(../img/main/img-sprite.png)no-repeat -245px -351px;
    display:inline-block;
    vertical-align: middle;
}
i.illust:hover{
  background: url(../img/main/img-sprite.png)no-repeat -246px -430px;
}
i.video{
  width: 75px;
    height: 75px;
    background: url(../img/main/img-sprite.png)no-repeat -326px -351px;
    display:inline-block;
    vertical-align: middle;
}
i.video:hover{
  background: url(../img/main/img-sprite.png)no-repeat -327px -430px;
}

/*-- TWITER --*/
