/*--
Author: Valerio Foddai
Author URL: http://Foddai.com
--*/

@font-face {
    font-family: 'Nunito-Bold';
    src:url(../fonts/Nunito-Bold.ttf) format('truetype');
}

/* Header */

.header-main {
	background: url(../img/main/london1.png) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 400px;
	text-align:center;
}
.header-top{
	padding-top: 4%;
}

.header-top h2 {
	font-size: 1.3em;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 700;
	margin: 9% 0px 0px 0px;
}
@media screen and (min-width: 250px) and (max-width: 350px) {
  .header-top h2 {
	 margin: 50% 0px 0px 0px;
   }
}
@media screen and (min-width: 350px) and (max-width: 500px) {
  .header-top h2 {
	 margin: 31% 0px 0px 0px;
   }
}

.head-section span {
	margin-top: 10px;
    height: 2px;
    width: 10%;
    background: #E22E2E;
    display: inline-block;
}
/* Header LOGO */

.foddi-img {
 background: url(../img/main/circle-valerio.png) no-repeat center;
 text-align:center;
 height: 220px;
 border-radius: 50%;
}

.header-section {
  background: #e6e6e6;
  text-align: center;
}

}
.header-section h3 {
  font-family: 'Nunito-Bold';
  font-size: 4em;
  text-transform: capitalize;
  color: #393b3a;
  padding: 0.5em 0 0 0;
}
.header-section span {
  color: #ff0000;
  font-size: 1em;
}

span.glyphicon.glyphicon-triangle-bottom {
  font-size: 2em;
  color: #ff0000;
  padding: 0.5em 2em;
  border-radius: 5px 5px 0 0;
  }

  /*-- Buttons --*/

.shope a{
	color: #272727;
	font-weight: 700;
	border: 1px solid #E22E2E;
	text-transform: uppercase;
	padding: 1em 4em;
	font-family: 'Asap', sans-serif;
	display: inline-block;
	letter-spacing: 0.1em;
	text-decoration: none;
}
.shope a:hover{
	color:#E22E2E;
	border-color:black;
}

 /*-- start-services-section --*/
.service-section {
  text-align: center;
  padding: 4em 0;
}
.service-grid h4 {
  font-size: 1.5em;
  margin: 0.9em 0;
    font-family: 'Nunito-Bold';
}
span.glyphicon.glyphicon-pencil {
  font-size: 2em;
  color: #E22E2E;
  border-radius: 50px;
  border: 2px solid;
  padding: 1em;
}
span.glyphicon.glyphicon-phone{
font-size: 2em;
  color: #E22E2E;
  border-radius: 50px;
  border: 2px solid;
  padding: 1em;
}
span.glyphicon.glyphicon-signal{
font-size: 2em;
  color: #E22E2E;
  border-radius: 50px;
  border: 2px solid;
  padding: 1em;
}